@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');



body, html {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;   
    font-family: 'Inter', sans-serif;    
    font-weight: 500;
   
}

.bold {
    font-weight: 600;
}

aside {
    background-color: #15120D;
}


.aside-picture {
    width: min(100%, 35vw);
    height: 100vh;
    object-fit: cover;
    display: block;
}

main {   
   display: flex;
   flex-direction: column;   
}

.main-header {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sign-up-form {
    padding: 0px 3rem;
    background-color: #FFFFFF;
    flex-grow: 1;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

form { 
    display: flex;
    gap: 4rem;
}

input {
    width: 25rem;
    height: 1.6rem;
    border-radius: 6px;
    border: 1px solid #E5E7EB;    
}

input:valid {
    border: 1px solid #9EB23B;
}

input[type=password]:invalid{
    border: 1px solid #F32424;    
}

input:focus {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.inputs {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.btn-create-account {
    border-radius: 7px;
    border-style: 1px solid #040303;
    font-size: 1.2rem;
    padding: 1em 2em;
    background-color: #81230B;
    color: white;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

footer,
header {
    background-color: #F9FAFB;
    flex-grow: 2;
}

footer, header {
    padding: 2rem 3rem;
}

.sign-up-heading {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    filter: brightness(1.2);
}

a:visited {
    color: #81230B;
}