@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');



body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;   
    font-family: 'Inter', sans-serif;
}



.aside-picture {
    width: min(650px, 35vw);
    height: 100vh;
    object-fit: cover;
}

main {
   padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}